doctype html
html(lang="ko")
    head
        link(rel="icon", href="https://raw.githubusercontent.com/seo081225/momentum-clone-2023/master/img/icon.png")
        title #{ pageTitle } | #{ siteName }
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        include partials/header.pug 
        main
            block content
        include partials/footer.pug
    script(src="/static/js/main.js") 
    block scripts