extends base.pug

block content
    h4 Change Title of video
    form(action="GET")
        input(name="title", placeholder="Video Title", value=video.Title)
        input(value="Save", type="submit")
